* {
    color: black;
    margin: 0;
    padding: 0;
}



.container{
    display: flex;
    width: 60vw;
    box-sizing: border-box;
    border: 2px solid black;
    margin: 10em 30em 0 20em;
}

.container img{
    height: 60vh;
    width: 35vw;
}

.signupMain{
    text-align: center;
}

.signupMain h1{
    text-decoration: underline;
}

.signup{
    text-align: left;
    margin: 3em 10em 0 2em;
}

.signup input{
    border: 0;
    width: 100%;
    margin-top: 10px;
}

.footer {
    text-align: center;
    margin-top: 1em;
}

.footer .signup-button {
    box-sizing: border-box;
    padding: 7px;
    border: 2px solid black;
    border-radius: 20px;
    width: 10vw;
}

.footer p{
    margin: 0.8em 0;
}

