

.homeImg{
    opacity: 0.6;
    background-image: url('../../assets/ModiMoney.png');
}

.searchBar {
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1000;

}

.searching{
    height: 4vh;
    width: 30vw;
    background-color: whitesmoke;
    border: 2px solid rgb(146, 146, 146);
    border-radius: 10px 0 0 10px;
    margin-top: 2vh;
    padding: 20px;
}

.searchIcon{
    padding: 10px;
    border: 2px solid red;
    border-radius: 0 10px 10px 0;
    background-color: red;
    margin-top: 2vh;
}

.searchIcon img{
    height: 1rem;
    /* width: 4vw; */
}

.homeHello{
    color: red;
    font-size: x-large;
    margin: 8em 20em 80em 5em;
}

.homeHello h1{
    font-weight: bolder;
}

.home p{
    color: black;
    margin-top: 1em;
}

.homeButton{
    display: flex;
    gap: 2em;
    margin-top: 1.2em;
}

.homeButton button{
    background-color: whitesmoke;
    color: black;
    border: 2px solid black;
    border-radius: 40px;
    box-sizing: border-box;
    padding: 15px;
    width: 16em;
}